{snippet list}
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{if !empty($tasks)}
{var $isRootTask = true;
     $isMostTopTask = true;
     $taskID = null;
     $parent = null;
     $currDate = (new \DateTime())->setTime(0,0,0)}
<div class="tree">
{foreach $tasks as $key => $root}
<div n:if="!$iterator->isFirst()" class="separator"></div>
{block task}
<ul n:class="$isRootTask ? task">

    {foreach $root as $task}
    {? $taskID = $task['id']}
        <li data-task-id="{$taskID}" n:attr="data-task-parent-id => $parent">
            {control taskLabel-$taskID}

            <div class="task-actions">
                <ul>
                    <li>
                        <a href="{link markAsDone!, taskID => $taskID}"
                           class="btn btn-default btn-sm task-undone">Mark as finished</a>
                    </li>

                    <li n:if="($task['deadline'] >= $currDate and $task['level'] < 2) and ($task['last_child_deadline'] >= $currDate)">
                        <a href="{link taskLabel-$taskID:addSubTask!}" class="ajax btn btn-default btn-sm">+ Add task</a>
                    </li>

                    <li n:if="($task['deadline'] < $currDate and $isMostTopTask === true) or $task['deadline'] >= $currDate">
                        <a class="ajax btn btn-default btn-sm" href="{link taskLabel-$taskID:editLabel!}">Edit</a>
                    </li>
                    <li>
                        <a href="" class="btn btn-default btn-sm">Check entire Task</a>
                    </li>
                    <li n:if="$isRemoveButtonVisible == true">
                        <a href="{link removeTask!, taskID => $taskID}" class="btn btn-default btn-sm btn-danger">Remove</a>
                    </li>
                </ul>
            </div>
            <input type="checkbox" id="task-{$task['id']}-input"
                   n:if="!empty($task['__children'])">

        {? $isMostTopTask = false;}
        {if !empty($task['__children'])}
            {? $isRootTask = false}
            {include task, root => $task['__children'], parent => $taskID}
        {/if}
        </li>
    {/foreach}

</ul>
{/block}
{? $isRootTask = true; $isMostTopTask = true}

{/foreach}
</div>

<script>
$(function () {
    var hash = window.location.hash;
    if (hash.length > 0) {
        var task = $('[data-task-id=' + hash.substr(6) + ']');
        task.find('label').first().css('border-bottom', '2px solid #ffb598');

        var parents = task.parents('li');
        parents.each(function () {
            var taskId = $(this).data().taskId;
            $('#task-' + taskId + '-input').prop('checked', true);
        });
    }
});
</script>
{else}
<p class="empty-task-list">This project does not contain any Tasks.
Would you like to <a href="{plink Project:addTask, id => $presenter->getParameter('id')}">add some</a>?</p>
{/if}

{/snippet}