# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: TodoList\*Module\Presenters\*Presenter


session:
	expiration: 1 month
	savePath: %appDir%/../temp/sessions
	name: 'todolist'

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	gedmo: Rixxi\Gedmo\Di\OrmExtension

doctrine:
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository
	metadata:
		TodoList\Entities: %appDir%/model/Entities

gedmo:
	all: on
	tree: on

includes:
	- parameters.neon
	- services.neon
