
{snippet list}
<div id="projects">
{block listOfProjects}
{if count($projects) > 0}
<ul>
    {foreach $projects as $project}
    {var $id = $project['id']}
    <li n:class="$project['level'] == 1 ? root">
        <div class="p-item" data-project-id="{$id}">
            <a href="{plink Project:tasks 'id' => $id}">{$project['name']}
    {if $project['numberOfTasks'] > 0}
            <span class="badge" title="unfinished tasks">{$project['numberOfTasks']}</span>
    {/if}</a>
    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle btn-xs"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li n:if="$project['level'] < 3"><a href="{link projectForm-$id:showForm!}" class="ajax project-act">Add Project</a></li>
            <li><a href="{link projectForm-$id:showForm!, 'edit' => true}" class="ajax project-act">Rename</a></li>
            <li n:tag-if="!$iterator->isFirst() or !$iterator->isLast()" class="divider"></li>

            {if !$iterator->isFirst()}
            <li><a href="{link moveUp! 'projectID' => $id}" class="ajax">Move up</a></li>
            {/if}

            {if !$iterator->isLast()}
            <li><a href="{link moveDown! 'projectID' => $id}" class="ajax">Move down</a></li>
            {/if}

            <li n:tag-if="!$iterator->isLast() or $project['level'] > 0" class="divider"></li>
            <li><a href="{plink Project:remove, 'id' => $id}">Remove</a></li>

        </ul>
    </div>
    {control projectForm-$id}

        {if !empty($project['__children'])}
            {include listOfProjects, projects => $project['__children']}
        {/if}
    </li>
    {/foreach }
</ul>
{else}
<p>No active Projects yet.</p>
{/if}
{/block}
</div>

<script>
$(function () {
    $('.project-act').on('click', function () {
        $('#projects button[data-toggle="dropdown"]').parent().removeClass('open');
    });
});
</script>
{/snippet}