<nav>
<ul class="nav nav-pills">
    <li class="active"><a href="">Today</a></li>
    <li><a href="">Next 7 days</a></li>
    <li><a href="">No due</a></li>
    <li><a href="">Over due</a></li>
    <li><a href="{plink logout!}">Logout</a></li>
</ul>
</nav>